<footer class="flex flex-center">
    <nav class="contain flex flex-space-between">
        <div class="logo-f left-f footer-logo">
            <p class="font-logo">Rusanit</p>
        </div>
        <div class="footer-center display-line-left">
            <a class="foter-a" href="{% url 'home' %}">Главная</a>
            <a class="foter-a ml10" href="#delivery">Доставка</a>
            <a class="foter-a ml10" href="#contacts">Контакты</a>
            <a class="foter-a ml10" href="{% url 'basket' %}">Корзина</a>
        </div>
        <div class="footer-center display-column-left">
            <p class="font-nav">ООО «АМ-СПЕКТР»</p>
            <p class="font-nav">Дизайн - Андрей Вервайн</p>
        </div>
        <div class="footer-center right-nav flex flex-space-between wid165">
            <div class="fb"></div>
            <div class="tvit"></div>
            <div class="insta"></div>
        </div>
    </nav>
</footer>