<footer class="flex flex-center">
    <nav class="contain flex flex-space-between">
        <div class="logo-f left-f footer-logo">
            <p class="font-logo">Rusanit</p>
        </div>
        <div class="footer-center display-column-left">
            <p class="font-nav">Политика конфидициальности</p>
            <p class="font-nav">Пользовательское соглашение</p>
        </div>
        <div class="footer-center display-column-left">
            <p class="font-nav">ООО «АМ-СПЕКТР»</p>
            <p class="font-nav">Дизайн - Андрей Вервайн</p>
        </div>
        <div class="footer-center flex flex-space-between wid165">
            <div class="fb"></div>
            <div class="tvit"></div>
            <div class="insta"></div>
        </div>
        <div class="footer-call right-nav flex-column-ful-center">
            <p class="font-nav">У Вас остались вопросы?</p>
            <div href="#popup" class="call2 mt10 popup-link flex flex-center align-items-center">
                <div>
                    <p class="font-button2">Заказать звонок</p>
                </div>
            </div>
        </div>
    </nav>
</footer>