<div id="popup" class="popup">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-contain">
                <div class="popup-close close-popup"></div>
                <h1 class="h2-style mt50">Обратная связь</h1>
                <p class="mt20">
                    Оставьте Ваши данные и мы свяжемся с вами
                </p>
                <form class="form-call" action="{% url 'feedback' %}" method="GET">
                    <label class="mt15" for="">
                        <input class="input-call" id="name_feedback" type="text" name="name" placeholder="Ваше имя">
                    </label>
                    <label class="mt10" for="">
                        <input class="input-call" id="phone_feedback" type="text" name="phone" placeholder="Телефон">
                    </label>
                    <div class="check-lable">
                        <label for="">
                            <input type="checkbox" name="checkbox" id="checkbox_feedback" placeholder="Я согласен">
                        </label>
                        <p class="ml5">Я согласен</p>
                        <a target="_blank" href="https://docviewer.yandex.ru/view/1408849360/?*=TYvhdXei2Q79lLuDtgWYA037BO97InVybCI6InlhLWRpc2stcHVibGljOi8vbU1aTXF4SlNMTGhiWjY5WiswMHVxTlR5Sk1BYjd5SjByb3VqZDJIL2M2Y1QrdEQ1di9CRzJVVGl0VTNjQVlxUnEvSjZicG1SeU9Kb25UM1ZvWG5EYWc9PSIsInRpdGxlIjoi0J%2FQvtC70YzQt9C%2B0LLQsNGC0LXQu9GM0YHQutC%2B0LUg0YHQvtCz0LvQsNGI0LXQvdC40LUuZG9jeCIsIm5vaWZyYW1lIjpmYWxzZSwidWlkIjoiMTQwODg0OTM2MCIsInRzIjoxNjMxNjE2NzE2NzkzLCJ5dSI6Ijc5MjQ0MDAxMjE1ODc1ODUxMDAifQ%3D%3D">с политикой конфеденциальности</a>
                    </div>
                    <button class="submit-popup" type="submit" id="feedback">Перезвонить мне</button>
                </form>
            </div>
        </div>
    </div>
</div>