{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title_html }}</title>
    <link rel="icon" href="{% static 'shop/images/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'shop/images/favicon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/jquery.formstyler.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/jq-formstyle.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/universal_styles.css' %}">
</head>
<body class="main-container">
    <header class="main_header_container">
        <nav class="nav_contain">
            <a class="left-nav" href="{% url 'home' %}">
                <div class="base_second_logo">
                    <p class="font-logo">RuSanit</p>
                </div>
            </a>
            <div class="{% if user %}basket-full{% endif %} base_second_menu">
                <a class="font-nav" href="{% url 'home' %}">Главная</a>
                <a class="font-nav" href="{% url 'home' %}">Доставка</a>
                <a class="font-nav" href="{% url 'home' %}">Контакты</a>
                <div>
                    <div>{% if user %}<p>{{ user }}</p>{% endif %}</div>
                    <a class="font-nav" href="{% url 'basket' %}">Корзина</a>
                </div>
            </div>
            <div href="#popup" class="base_second_call right-nav popup-link">
                <div>
                    <p class="font-button">Заказать звонок</p>
                </div>
            </div>
            <div class="burger_second"></div>
            <div id="burger-close" class=""></div>
        </nav>
    </header>
    <div class="product_container">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'shop/_footer.html' %}
    {% include 'shop/_popup.html' %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'shop/js/jquery.formstyler.min.js' %}"></script>
    <script src="{% static 'shop/js/script.js' %}"></script>
    <script src="{% static 'shop/js/my_script.js' %}"></script>
    <script>
        (function($) {
        $(function() {
	        $('select, input').styler();
        });
        })(jQuery);
    </script>
    <script src="{% static 'shop/js/popaps.js' %}"></script>
    <script src="{% static 'shop/js/mutate_price.js' %}"></script>
</body>
</html>