{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title_html }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <title>{{ title_html }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/jquery.formstyler.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/jq-formstyle.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/universal_styles.css' %}">
</head>
<body>
    <header class="main-container flex flex-center">
        <nav class="contain flex flex-space-between">
            <div class="logo left-nav">
                <p class="font-logo">RuSanit</p>
            </div>
            <div class="main-menu flex flex-space-between">
                <a class="font-nav" href="{% url 'home' %}">Главная</a>
                <a class="font-nav" href="{% url 'home' %}">Доставка</a>
                <a class="font-nav" href="{% url 'home' %}">Контакты</a>
                <div><a class="font-nav" href="#">Корзина</a></div>
            </div>
            <div href="#popup" class="call right-nav popup-link">
                <div>
                    <p class="font-button">Заказать звонок</p>
                </div>
            </div>
        </nav>
    </header>
    <div class="flex flex-center">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'shop/_footer.html' %}
    {% include 'shop/_popup.html' %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'shop/js/jquery.formstyler.min.js' %}"></script>
    <script src="{% static 'shop/js/script.js' %}"></script>
    <script src="{% static 'shop/js/my_script.js' %}"></script>
    <script src="{% static 'shop/js/popaps.js' %}"></script>
    <script>
        (function($) {
        $(function() {
	        $('select, input').styler();
        });
        })(jQuery);
    </script>
</body>
</html>