{% extends 'shop/base.html' %}

{% block content %}
    {% for product in products %}
        <div class="card">
            <div class="card-contain">
                <div class="upper-part">
                    {% if product.tag_product == 'hit-of-sales' %}
                        <p class="left-side {{ product.tag_product }}">Хит продаж</p>
                    {% elif product.tag_product == 'new-product' %}
                        <p class="left-side {{ product.tag_product }}">Новинка</p>
                    {% else %}
                        <p class="left-side"></p>
                    {% endif %}
                    <div class="right-side">
                        <p>{{ product.specifications.people_amount }}</p>
                    </div>
                </div>
                <div class="card-photo">
                    <img src="{{ product.main_photo.url }}" alt="#">
                </div>
                <p class="text-card-bold">{{ product.name }}</p>
                <p class="text-card">{{ product.short_description }}</p>
                <div class="lower-part">
                    <a href="{{ product.get_absolute_url }}" class="button-2">Подробнее</a>
                    <p class="text-card-bold">{{ product.price }} руб.</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div count="{{ products.count }}" id="prod_count"></div>
{% endblock %}