{% extends 'shop/base_second.html' %}

{% block content %}
    <div class="container1180">
        <h2 class="h1-style mt50">Оформление заказа</h2>
        <p class="mt30 p-style mb10">Заполните контактную информацию</p>
        <form class="form-contain" action="{% url 'order' %}" method="POST">
            {% csrf_token %}
            <div class="order-form-left">
                <div class="parent-input">
                    <p><label for="{{ form.recipient.id_for_label }}"></label></p>
                    {{ form.recipient }}
                </div>
                <div class="parent-input">
                    <p><label for="{{ form.phone_number.id_for_label }}"></label></p>
                    {{ form.phone_number }}
                </div>
                <div class="parent-input">
                    <p><label for="{{ form.email.id_for_label }}"></label></p>
                    {{ form.email }}
                </div>
                <div class="parent-input">
                    <p><label for="{{ form.city.id_for_label }}"></label></p>
                    {{ form.city }}
                </div>
                <div class="parent-input">
                    <p><label for="{{ form.street.id_for_label }}"></label></p>
                    {{ form.street }}
                </div>
                <div class="parent-input flex flex-space-between">
                    <div class="addres-form">
                        <p><label for="{{ form.house_number.id_for_label }}"></label></p>
                        {{ form.house_number }}
                    </div>
                    <div class="addres-form">
                        <p><label for="{{ form.flat.id_for_label }}"></label></p>
                        {{ form.flat }}
                    </div>
                </div>
                <div class="parent-input">
                    <p><label for="{{ form.comment.id_for_label }}"></label></p>
                    {{ form.comment }}
                </div>
            </div>
            <div class="order-form-right">
                <div class="order-form-right-contain">
                    <div class="pay">
                        <div class="radio-res-top">
                            <p>Способ оплаты:</p>
                            <a href="#popup_pay_method" class="buttom-standart popup-link">Изменить</a>
                        </div>
                        <div class="pay_result radio-res-bottom">
                            <p>Наличными</p>
                        </div>
                        {% include 'shop/_popup_pay_method.html' %}
                    </div>
                    <hr class="mt40 mb40">
                    <div class="delivery">
                        <div class="radio-res-top">
                            <p>Вариант доставки:</p>
                            <a href="#popup_delivery_option" class="buttom-standart popup-link">Изменить</a>
                        </div>
                        <div class="delivery_result radio-res-bottom">
                            <p>Доставка</p>
                        </div>
                        {% include 'shop/_popup_delivery_option.html' %}
                    </div>
                </div>
            </div>
            <button class="buttom-order ml20" type="submit">Оформить заказ</button>
        </form>
    </div>
{% endblock %}