{% extends 'shop/base_second.html' %}

{% block content %}
    <div class="container1180">
        <h1 class="h1-style mt50">{{ prod.name }}</h1>
        <div class="description">
            <div class="photo">
                <div class="small img-sm">
                    {% for album in albums %}
                        <a href="{{ album.photo.url }}">
                        <img src="{{ album.photo.url }}">
                        </a>
                    {% endfor %}
                </div>
                <div class="big img-big">
                    <img src="{{ photo_one.photo.url }}">
                </div>
            </div>
            <div class="content-select">
                <h1 class="h1-style">{{ prod.price }} руб.</h1>
                <form class="form" id="form" action="{{ prod.get_absolute_url }}" method="POST">
                    {% csrf_token %}
                    <div class="form-lable novisible">
                        <p><label for="{{ form.size.id_for_label }}">{{ form.size.label }}:</label></p>
                        {{ form.size }}
                    </div>
                    <div class="form-lable div-r novisible">
                        <p><label for="{{ form.montage.id_for_label }}">{{ form.montage.label }}:</label></p>
                        {{ form.montage }}
                    </div>
                    <div class="form-lable novisible">
                        <p><label for="{{ form.elongated_neck.id_for_label }}">{{ form.elongated_neck.label }}:</label></p>
                        {{ form.elongated_neck }}
                    </div>
                    <div class="form-lable div-r novisible">
                        <p><label for="{{ form.mounting_neck.id_for_label }}">{{ form.mounting_neck.label }}:</label></p>
                        {{ form.mounting_neck }}
                    </div>
                    <div class="form-lable novisible">
                        <p><label for="{{ form.water_disposal.id_for_label }}">{{ form.water_disposal.label }}:</label></p>
                        {{ form.water_disposal }}
                    </div>
                    <div class="form-lable div-r novisible">
                        <p><label for="{{ form.additional_options.id_for_label }}">{{ form.additional_options.label }}:</label></p>
                        {{ form.additional_options }}
                    </div>
                    <div>
                        <div class="count">
                            <label for="{{ form.count.id_for_label }}"></label>
                            <div onclick="valueMinus()" class="round-button minus"></div>
                            {{ form.count }}
                            <div onclick="valuePlus()" class="round-button plus"></div>
                        </div>
                    </div>
                    <button class="submit" type="submit">В корзину</button>
                </form>
            </div>
        </div>
        <div class="switch flex">
            <p onclick="description()" class="buttom-description p-style">Описание</p>
            <p onclick="specifications()" class="buttom-specifications p-style">Характеристики</p>
        </div>
        <div class="specifications">
            <div class="el element-gray flex flex-space-between">
                <p>Габариты</p>
                <div><p>{{ specifications.0.dimensions }}</p></div>
            </div>
            <div class="el element-white flex flex-space-between">
                <p>Высота корпуса станции</p>
                <div><p>{{ specifications.0.station_height }}</p></div>
            </div>
            <div class="el element-gray flex flex-space-between">
                <p>Вес станции</p>
                <div><p>{{ specifications.0.station_weight }}</p></div>
            </div>
            <div class="el element-white flex flex-space-between">
                <p>Кол-во пользователей</p>
                <div><p>{{ specifications.0.people_amount }}</p></div>
            </div>
            <div class="el element-gray flex flex-space-between">
                <p>Макс. залповый сброс</p>
                <div><p>{{ specifications.0.maximum_reset }}</p></div>
            </div>
            <div class="el element-white flex flex-space-between">
                <p>Потребляемая мощность</p>
                <div><p>{{ specifications.0.power }}</p></div>
            </div>
        </div>
        <div class="text">{{ prod.full_description|linebreaks }}</div>
    </div>
{% endblock %}