*{
    padding: 0;
    margin: 0;
}
*::after,
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root{
    --color-black: #2D2D2F;
    --color-red: #FF594D;
    --color-highlighting-red: #E55146;
    --color-orange: #FD9800;
    --color-highlighting-orange: #DD8500;
    --color-pale-white: #F8F8F8;
    --color-light-grey: #BABAC2;
    --color-gray: #989AA9;
    --color-green: #84C558;
    --color-green-strong: #6BA842;
}
body{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    background-color: var(--color-pale-white);
    min-height: 100%;
}
.font-logo{
    font: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-black);
}
.font-nav{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: var(--color-black);
}
.font-button{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: white;
}
.h1-style{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: var(--color-black);
}
.h2-style{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: var(--color-black);
}
.p-style{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.main-container{
    background-color: white;
    height: 104px;
    box-shadow: 0px 0px 35px rgba(152, 154, 169, 0.2);
}
.contain{
    width: 1440px;
}
.mt50{
    margin-top: 50px;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
.logo{
    margin-top: 27px;
    height: 44px;
    width: 135px;
    background-image: url(../images/Union-green.svg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
}
.left-nav{
    margin-left: 130px;
}
.main-menu{
    width: 415px;
}
.main-menu div{
    margin-top: 38px;
    height: 20px;
    width: 95px;
    background-image: url(../images/basket-black.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.main-menu a{
    margin-top: 40px;
    transition: color .2s linear;
}
.main-menu a:hover{
    color: var(--color-green)
}
.call{
    margin-top: 30px;
    height: 42px;
    width: 195px;
    background-color: var(--color-green);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s linear;
}
.call:hover{
    background-color: var(--color-green-strong);
}
.right-nav{
    margin-right: 130px;
}
.call div{
    margin-top: 10px;
    margin-left: 20px;
    width: 153px;
    background-image: url(../../shop/images/Call-withe.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.call p{
    margin-left: 25px;
}
.container1180{
    width: 1180px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.description{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.photo{
    display: flex;
    justify-content: space-between;
    width: 572px;
    height: 448px;
}
.small{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 448px;
  overflow: hidden;
}
.small div{
  width: 80px;
  height: 80px;
}
.small a{
  width: 80px;
  height: 80px;
}
.img-sm img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big{
  width: 480px;
  overflow: hidden;
}
.img-big img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-select{
    width: 580px;
    height: 448px;
}
.content-select h1{
  margin-bottom: 30px;
}
.submit {
  width: 279px;
  height: 45px;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: var(--color-orange);
  color: white;
  font-size: 18px;
  line-height: 25px;
  margin-left: 10px;
  margin-top: 50px;
  cursor: pointer;
  transition: background 0.2s linear;
}
.submit:hover {
    background: var(--color-highlighting-orange)
}
/* form-lable */
.form{
  display: grid;
  grid-template-columns: 50% 50%;
}
.form-lable{
  margin-bottom: 15px;
}
.form-lable p{
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 5px;
}
.div-r{
  margin-left: 10px;
}
.count{
    margin-top: 55px;
    width: 117px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}
.round-button{
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 0px 7.5px rgba(27, 123, 106, 0.1);
    width: 42px;
    height: 42px;
    cursor: pointer;
}
.minus{
    background-image: url(../images/minus_before\ .svg);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    transition: background-image 0.2s linear;
}
.minus:hover{
    background-image: url(../images/minus_after.svg);
}
.plus{
    background-image: url(../images/plus_before\ .svg);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    transition: background-image 0.2s linear;
}
.plus:hover{
    background-image: url(../images/plus_after.svg);
}
/* form-lable */
.text p{
    margin-bottom: 30px;
}
.switch{
    margin-top: 50px;
    margin-bottom: 30px;
}
.switch p{
    line-height: 25px;
}
.buttom-description{
    color: var(--color-orange);
    cursor: pointer;
}
.buttom-specifications{
    margin-left: 20px;
    cursor: pointer;
}
.specifications{
    display: none;
    /* margin-top: 30px; */
    margin-bottom: 150px;
}
.specifications p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}
.element-gray{
    background-color: #BABAC2;
    height: 37px;
}
.element-white{
    background-color: white;
    height: 37px;
}
.el div{
    width: 280px;
}

/* -------Корзина------- */
.prod-basket-main{
    width: 100%;
    height: 320px;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: box-shadow .2s linear;
}
.prod-basket-main:hover{
    box-shadow: 0px 0px 35px rgba(27, 123, 106, 0.3);
    border-radius: 10px;
}
.small-contain{
    width: 1100px;
    height: 240px;
}
.bascet-servise{
    margin-top: 20px;
}
.basket-prod-photo{
    width: 180px;
    height: 186px;
}
.basket-prod-servise{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bascet-prod-servise p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}
.bascet-prod-servise b{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}
.left-prod{
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.delete{
    background-image: url(../images/exit.svg);
    width: 30px;
    height: 30px;
}
.full-price{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.prod-count{
    font: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23.0769px;
    line-height: 27px;
}
.button-standart{
    padding: 10px 16px;
    background-color: var(--color-orange);
    color: white;
    font-size: 14px;
    line-height: 155%;
    border-radius: 10px;
    transition: background-color .2s linear;
}
.button-standart:hover{
    background-color: var(--color-highlighting-orange);
}


@media (max-width:1250px){
    .right-nav {
        margin-right: 0;
    }
    .left-f {
        margin-left: 0;
    }
    .left-nav {
        margin-left: 0;
    }
}

@media (max-width:1180px){
    .container1180 {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 200px;
    }
    .description {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}