*{
    padding: 0;
    margin: 0;
}
*::after,
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root{
    --color-black: #2D2D2F;
    --color-red: #FF594D;
    --color-highlighting-red: #E55146;
    --color-orange: #FD9800;
    --color-highlighting-orange: #DD8500;
    --color-pale-white: #F8F8F8;
    --color-light-grey: #BABAC2;
    --color-gray: #989AA9;
    --color-green: #84C558;
    --color-green-strong: #6BA842;
}
body{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    background-color: var(--color-pale-white);
    min-height: 100%;
}
.font-logo{
    font: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-black);
}
.font-nav{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: var(--color-black);
}
.font-button{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: white;
}
.h1-style{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: var(--color-black);
}
.h2-style{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: var(--color-black);
}
.p-style{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.contain{
    width: 1440px;
}
.mt50{
    margin-top: 50px;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}


/* Фотоальбом станции */

.container1180{
    width: 1180px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.description{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.photo{
    display: flex;
    justify-content: space-between;
    width: 572px;
    height: 448px;
}
.small{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 448px;
  overflow: hidden;
}
.small div{
  width: 80px;
  height: 80px;
}
.small a{
  width: 80px;
  height: 80px;
}
.img-sm img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big{
  width: 480px;
  overflow: hidden;
}
.img-big img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width:414px){
    .photo {
        position: relative;
        justify-content: center;
        width: 100%;
        height: 300px;
        margin-bottom: 120px;
    }
    .small {
        position: absolute;
        bottom: -80px;
        flex-direction: row;
        width: 100%;
        height: 70px;
    }
    .small a {
        width: 65px;
        height: 70px;
    }
}


/* form-lable */

.content-select{
    width: 580px;
    height: 448px;
}
.content-select h1{
  margin-bottom: 30px;
}
.submit {
  width: 279px;
  height: 45px;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: var(--color-orange);
  color: white;
  font-size: 18px;
  line-height: 25px;
  margin-left: 10px;
  margin-top: 50px;
  cursor: pointer;
  transition: background 0.2s linear;
}
.submit:hover {
    background: var(--color-highlighting-orange)
}
.form{
  display: grid;
  grid-template-columns: 50% 50%;
}
.form-lable{
  margin-bottom: 15px;
}
.form-lable p{
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 5px;
}
.div-r{
  margin-left: 10px;
}
.count{
    margin-top: 55px;
    width: 117px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}
.round-button{
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 0px 7.5px rgba(27, 123, 106, 0.1);
    width: 42px;
    height: 42px;
    cursor: pointer;
}
.minus{
    background-image: url(../images/minus_before\ .svg);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    transition: background-image 0.2s linear;
}
.minus:hover{
    background-image: url(../images/minus_after.svg);
}
.plus{
    background-image: url(../images/plus_before\ .svg);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    transition: background-image 0.2s linear;
}
.plus:hover{
    background-image: url(../images/plus_after.svg);
}
@media (max-width:1180px){
    .description {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:414px){
    .content-select {
        width: 100%;
        height: unset;
    }
    .content-select h1 {
        text-align: center;
    }
    .form {
        grid-template-columns: 100%;
        justify-items: center;
    }
    .count {
        margin-top: 85px;
    }
}



.text p{
    margin-bottom: 30px;
}
.switch{
    margin-top: 50px;
    margin-bottom: 30px;
}
.switch p{
    line-height: 25px;
}
.buttom-description{
    color: var(--color-orange);
    cursor: pointer;
}
.buttom-specifications{
    margin-left: 20px;
    cursor: pointer;
}
.specifications{
    display: none;
    margin-bottom: 150px;
}
.specifications p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}
.element-gray{
    background-color: #BABAC2;
    height: 37px;
}
.element-white{
    background-color: white;
    height: 37px;
}
.el div{
    width: 280px;
}
@media (max-width:414px){
    .el div{
        width: 130px;
    }
}


/* -------Корзина------- */

.prod-basket-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: box-shadow .2s linear;
}
.prod-basket-main:hover{
    box-shadow: 0px 0px 35px rgba(152, 154, 169, 0.2);
    border-radius: 10px;
}    
.small-contain{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 240px;
}
.bascet-servise{
    display: flex;
    margin-top: 20px;
}
.basket-prod-photo{
    width: 180px;
    height: 186px;
}
.basket-prod-servise{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.bascet-prod-servise p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}
.bascet-prod-servise b{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}
.left-prod{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.delete{
    background-image: url(../images/close.svg);
    background-size: contain;
    width: 30px;
    height: 30px;
    transition: background-image 0.2s linear;
}
.delete:hover{
    background-image: url(../images/close_active.svg);
}
.full-price{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.prod-count{
    font: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23.0769px;
    line-height: 27px;
}
.button-standart{
    padding: 10px 16px;
    background-color: var(--color-orange);
    color: white;
    font-size: 14px;
    line-height: 155%;
    border-radius: 10px;
    transition: background-color .2s linear;
}
.button-standart:hover{
    background-color: var(--color-highlighting-orange);
}
@media (max-width:1180px){
    .container1180 {
        width: 95%;
    }
    .small-contain {
        width: 95%;
    }
}
@media (max-width:414px){
    .prod-basket-main {
        position: relative;
        height: 445px;
    }
    .small-contain {
        flex-direction: column;
        height: 405px;
    }
    .bascet-servise {
        flex-direction: column;
        align-items: center;
    }
    .left-prod {
        flex-direction: row;
    }
    .left-prod a{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .left-prod .full-price{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .left-prod .prod-count{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .basket-prod-photo {
        width: 170px;
        height: 176px;
    }
    .basket-prod-servise {
        margin-left: unset;
    }
    .basket-prod-servise p{
        font-size: 16px;
    }
    .create-order .h2-style {
        font-size: 20px;
    }
}


/* Офориление заказа */

.order-form-left{
    width: 500px;
}
.order-form-right{
    width: 608px;
    height: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 35px rgb(152 154 169 / 20%);
}
.order-form-right p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.order-form-right-contain{
    width: 528px;
    height: 228px;
}
.parent-input input{
    width: 100%;
    height: 46px;
    border: 1px solid #989AA9;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 14px;
    font: Open Sans;
}
.parent-input textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #989AA9;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 14px;
    padding-top: 14px;
    padding-left: 5px;
    font: Open Sans;
}
.addres-form{
    width: 245px;
}
.buttom-standart{
    padding: 10px 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: white;
    background-color: var(--color-orange);
    border-radius: 10px;
    transition: background-color 0.2s linear;
}
.buttom-standart:hover{
    background-color: var(--color-highlighting-orange);
}
.buttom-order{
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 180px;
    height: 45px;
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #FD9800;
    color: white;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
.buttom-order:hover{
    background-color: var(--color-highlighting-orange);
}
.form-contain{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.display-line-left{
    display: flex;
    align-items: center;
}
.display-line-left a{
    color: white;
    text-decoration: none;
}
.radio-res-top{
    display: flex;
    justify-content: space-between;
}
.radio-res-bottom{
    display: flex;
    align-items: center;
}
.pay_result{
    background-image: url(../images/IN_CASH.svg);
    background-repeat: no-repeat;
    background-position: left;
    height: 30px;
}
.pay_result_cash{
    background-image: url(../images/IN_CASH.svg);
}
.pay_result_transfer{
    background-image: url(../images/MONEY_TRANSFER.svg);
}
.delivery_result{
    background-image: url(../images/DELIVERY.svg);
    background-repeat: no-repeat;
    background-position: left;
    height: 30px;
}
.delivery_result_delivery{
    background-image: url(../images/DELIVERY.svg);
}
.pickup_result_pickup{
    background-image: url(../images/PICKUP.svg);
}
.radio-res-bottom p{
    margin-left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: var(--color-light-grey);
}
@media (max-width:1180px){
    .form-contain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order-form-right {
        margin-top: 20px;
        width: 608px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buttom-order{
        position: absolute;
        bottom: -100px;
        right: unset;
    }
}
@media (max-width:414px){
    .order-form-left{
        width: 100%;
    }
    .addres-form {
        width: 49%;
    }
    .order-form-right {
        width: 100%;
    }
    .buttom-order.ml20 {
        margin-left: unset;
    }
    .order-form-right-contain {
        width: 90%;
    }
}
@media (max-width:1250px){
    .right-nav {
        margin-right: 0;
    }
    .left-f {
        margin-left: 0;
    }
    .left-nav {
        margin-left: 0;
    }
}