*{
    padding: 0;
    margin: 0;
}
*::after,
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    background-color: #F8F8F8;
}

/* ----- heder navbar ----- */

.main-container{
    max-width: 100%;
    height: 720px;
    background-image: url(../images/heder_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contain{
    width: 1440px;
    margin: 0 auto;
}
.nav{
    position: relative;
    height: 102px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.logo p{
    color: white;
    font-size: 24px;
}
.logo{
    margin-top: 27px;
    height: 44px;
    width: 135px;
    background-image: url(../images/Union.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.left-nav{
    margin-left: 130px;
}
.main-menu{
    width: 415px;
    display: flex;
    justify-content: space-between;
}
.main-menu .basc{
    margin-top: 38px;
    height: 20px;
    width: 95px;
    background-image: url(../images/basket.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.basket-full div{
    position: relative;
}
.basket-full p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 155%;
    color: white;
}
.basket-full div div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9px;
    margin-left: 85px;
    width: 20px;
    height: 20px;
    background-image: url(../images/basket_full.svg);
}
.main-menu a{
    margin-top: 40px;
    color: white;
    font-size: 14px;
    transition: color .2s linear;
}
.main-menu a:hover{
    color: #FD9800;
}
.call{
    margin-top: 32px;
    height: 36px;
    width: 179px;
    color: #2D2D2F;
    text-decoration: none;
    background-image: url(../images/call_before.svg);
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all .2s linear;
}
.call:hover{
    background-image: url(../images/call_after.svg);
    color: white;
}
.call p{
    margin-left: 42px;
    margin-top: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
}
.burger{
    display: none;
    position: absolute;
    right: 0;
    width: 20px;
    height: 12px;
    margin: 43px 16px 0px auto;
    background-image: url(../images/burger.svg);
    background-repeat: no-repeat;
}
.right-nav{
    margin-right: 130px;
}
#burger-close{
    position: absolute;
}
@media (max-width:768px){
    .main-menu {
        display: none;
    }
    .main-menu a{
        color: #2D2D2F;
        margin-top: 0px;
    }
    .main-menu .basc{
        background-image: url(../images/basket-black.svg);
    }
    .burger-close{
        position: absolute;
        top: 32px;
        right: 32px;
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .burger-open{
        background-color: white;
        padding: 80px 0px 84px 0px;
        width: 100%;
        height: 556px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .burger{
        display: inline;
    }
    .left-nav {
        margin-left: 56px;
    }
}


/* ----- heder intro ----- */

.intro-contain{
    display: flex;
    justify-content: space-between;
}
.intro-text{
    margin-left: 130px;
    min-width: 556px;
    width: 565px;
}
.intro-photo{
    width: 715px;
    height: 448px;
    background-image: url(../images/house.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.intro-h1{
    max-width: 556px;
    font-weight: 700;
    font-size: 50px;
    color: white;
}
.intro-p{
    max-width: 556px;
    margin-top: 50px;
    margin-bottom: 90px;
    font-size: 22px;
    color: white;
}
.button{
    color: white;
    padding: 15px 79px;
    background-color: #FD9800;
    border-radius: 10px;
    transition: background-color .2s linear;
}
.button:hover{
    background-color: #DD8500;
}
@media (max-width:768px){
    .intro-text{
        margin-left: 16px;
        min-width: 358px;
    }
    .intro-h1{
        max-width: 358px;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        color: white;
    }
    .intro-p{
        max-width: 358px;
        margin-top: 50px;
        margin-bottom: 90px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: white;
    }
}


.button3{
    color: white;
    padding: 15px 21px;
    background-color: #84C558;
    border-radius: 10px;
    transition: background-color .2s linear;
}
.button3:hover{
    background-color: #6BA842;
}
.content-conteiner{
   background-color: #F8F8F8;
}
.content-center{
    display: flex;
    justify-content: center;
}
.content{
    margin-top: 250px;
    max-width: 1180px;
    margin: 0 auto;
}
.card-list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.card{
    margin: 0 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 404px;
    transition: box-shadow .2s linear;
    background-color: white;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0px 0px 35px rgba(152, 154, 169, 0.2);
    border-radius: 10px;
}
.card-contain{
    max-height: 363px;
    max-width: 236px;
}
.button-2{
    color: white;
    padding: 10px 19.5px;
    background-color: #FD9800;
    border-radius: 10px;
    transition: background-color .2s linear;
}
.button-2:hover{
    background-color: #DD8500;
}
.upper-part{
    display: flex;
    justify-content: space-between;
}
.right-side p{
    display: none;
    color: #5AA4C9;
    font-size: 14.2438px;
    margin-left: 33px;
    margin-bottom: 7px;
}
.right-side{
    height: 23px;
    background-image: url(../images/people.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.hit-of-sales{
    font: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11.5408px;
    line-height: 14px;
    padding: 5px 10px;
    background-color: #5F64E8;
    color: white;
    border-radius: 10px;
}
.new-product{
    font: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11.5408px;
    line-height: 14px;
    padding: 5px 10px;
    background-color: #F36A5F;
    color: white;
    border-radius: 10px;
}
.card-photo{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.text-card-bold{
    font-weight: bold;
    color: #2D2D2F;
    font-size: 14px;
    font-weight: 500;
}
.text-card{
    margin-top: 10px;
    color: #9C9C9C;
    font-size: 14px;
}
.lower-part{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.lower-part p{
    margin-top: 12.5px;
}
/* .still{
    display: flex;
    justify-content: center;
    margin: 50px auto 150px;
} */


.still{
    display: flex;
    margin: 50px auto 0px auto;
    width: 180px;
    height: 55px;
    background-color: #84C558;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s linear;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.still:hover{
    background-color: #6BA842;
}
.still div{
    width: 135px;
    background-image: url(../../shop/images/more.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.still p{
    color: white;
}
.roll-up{
    display: flex;
    margin: 50px auto 0px auto;
    width: 180px;
    height: 55px;
    background-color: #84C558;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s linear;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.roll-up:hover{
    background-color: #6BA842;
}
.roll-up div{
    width: 100px;
    background-image: url(../../shop/images/more_up.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.roll-up p{
    color: white;
}
.contact-text{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.contact-text div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-text a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.contact-text a h3{
    margin-left: 5px;
}
.contact-text h3{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
}
.contact-text p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}



.h1{
    color: #2D2D2F;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
}
.advantages{
    width: 580px;
    height: 427px;
    background-image: url(../images/advantages.jpg);
}
.about{
    width: 580px;
    height: 427px;
    background-image: url(../images/about.jpg);
}
.delivery{
    width: 580px;
    height: 427px;
    background-image: url(../images/truck.jpg);
}
.contacts-content{
    margin-top: 250px;
    max-width: 1440px;
    margin: 0 auto;
}
.contacts{
    /* max-width: 1180px; */
    height: 600px;
    position: relative;
}
.p-index{
    width: 480px;
    margin-right: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}
.p-index-left{
    width: 480px;
    margin-left: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}



/* form-contact */
.form-content-container{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.form-content{
    margin-top: 121px;
    background-color: white;
    width: 340px;
    height: 458px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}
.form-contain-feedback{
    width: 280px;
    height: 380px;
}
.submit-contacts{
    width: 180px;
    height: 55px;
    margin: 0 17%;
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #FD9800;
    color: white;
    font-size: 18px;
    line-height: 25px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.2s linear;
}
.submit-contacts:hover{
    background-color: #DD8500;
}
.form-contacts label{
    display: block;
}
.form-contacts textarea{
    width: 95%;
    height: 128px;
    border: 1px solid #989AA9;
    border-radius: 5px;
    padding: 5px;
    font-family: Open Sans;
    resize: none;
}
.input-contacts{
    width: 97%;
    height: 32px;
    border: 1px solid #989AA9;
    border-radius: 5px;
    padding-left: 5px;
    font-family: Open Sans;
}


.button-up{
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.up{
    width: 85px;
    height: 87px;
    background-image: url(../images/up_inactive.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-image 0.2s linear;
}
.up:hover{
    background-image: url(../images/up_active.svg);
}



@media (max-width:1440px){
    .contain{
        width: 100%;
    }
}